h1{ 
    color: rosybrown
}

img {
    width: 400px;
}

#thirdDiv{
    height 600px;
    width: 500px;
    background-color: rosybrown;
    padding: 50px;
    border: 20px solid rgb(151, 93, 113);
}   
#spanId{
    font-size: 18px;
    margin: 50px;
 }